@media screen and (min-width: 1200px) {

    .container {
        width: 1158px;
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 61px;
    }

    .nav-list {
        display: flex;
        gap: 10px;
    }

    .nav-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--special-text);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding: 24px 15px;
    }

    .nav-link:active,
    .nav-link:hover,
    .nav-link:focus {
        color: var(--hover-active);
    }

    .active {
        position: relative;
        color: var(--hover-active);
    }

    .active::after {
        position: absolute;
        content: '';
        display: block;
        top: 42.5px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--hover-active);
    }

    .logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.4;
    }

    .web {
        color: #4d5ae5;
    }

    .header-studio {
        color: var(--special-text);
    }

    .address-list {
        gap: 40px;
        padding: 0;
        flex-direction: row;
    }

    .address-hover:active, .address-hover:hover, .address-hover:focus {
        color: var(--hover-active);
    }

    /* ------------------------------------------------HERO------------------------------------------ */

    .hero {
        text-align: center;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-size: 1440px;
        background-position: 50% 50%;
        padding: 188px 0;
    }

    .main-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        width: 500px;
        margin: 0 auto 48px;
    }

    .hero-button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0, 04em;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        padding: 16px 32px;
        color: #ffffff;
        background-color: #4d5ae5;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: var(--hover-active);
    }

    /* ------------------------------------------------FIRST------------------------------------------ */

    .first {
        padding-top: 120px;
    }

    .first-list {
        gap: 24px;
        height: 224px;
    }

    .first-list-item {
        width: 264px;
    }

    .mini-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .first-wrap-svg {
        height: 112px;
        width: 264px;
        background: #F4F4FD;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .first-svg {
        width: 64px;
        height: 64px;
    }

    .parag{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    /* ------------------------------------------------SECOND------------------------------------------ */

    .second {
        display: flex;
        padding-bottom: 120px;
    }

    .second-title {
        text-align: center;
        margin-bottom: 72px;
    }

    .second-list {
        gap: 24px;
    }

    /* ------------------------------------------------TEAM------------------------------------------ */

    .team {
        padding: 120px 0;
        background-color: #f4f4fd;
    }

    .team-list {
        gap: 24px;
        width: auto;
        margin-top: 0;
    }

    .team-list-item {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        background-color: #ffffff;
    }

    .photo-text {
        text-align: center;
        padding: 32px 16px;
    }

    .team-social-list-item {
        width: 40px;
        height: 40px;
        background: #4D5AE5;
        border-radius: 50%;
    }

    .team-social-list {
        margin-top: 8px;
        gap: 24px;
    }

    .social-link:hover,
    .social-link:focus {
        background: var(--hover-active);
    }

    .team-svg {
        width: 16px;
        height: 16px;
    }

    /* ------------------------------------------------CUSTOMERS------------------------------------------ */

    .customers {
        padding: 120px 0;
    }

    .customers-list {
        margin-top: 0;
        gap: 24px;
    }

    .customers-list-item {
        width: 168px;
        height: 88px;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .customers-list-item:hover,
    .customers-list-item:focus {
        border-color: var(--hover-active);
    }

    .customers-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customers-link:hover .customers-svg {
        fill: var(--hover-active);
    }

    .customers-link:focus .customers-svg {
        fill: var(--hover-active);
    }

    .customers-svg {
        width: 104px;
        height: 56px;
        fill: #8E8F99;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer .container{
        flex-wrap: nowrap;
    }

    .footer-social{
        margin-left: 120px;
        margin-right: 80px;
    }










}